<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ0Sw4jeH_CP6NEC2_3J5Fuz6iSbco0AY</string>
	<key>GCM_SENDER_ID</key>
	<string>1088814273596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awetoUserApp</string>
	<key>PROJECT_ID</key>
	<string>aweto-app</string>
	<key>STORAGE_BUCKET</key>
	<string>aweto-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088814273596:ios:6e0a5b1dfcdb3612a05f39</string>
</dict>
</plist>